header {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
}

header > h1 {
  color: lightgray;
  font-size: 1.8rem;
}

nav {
  background-color: #eee;
  width: 100vw;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom: 1px solid #888;
  padding: 4px 0;
}

nav ul {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: baseline;
}

nav li {
  display: inline;
}

nav button {
  border: none;
  padding: 0 10px;
  font-size: 0.8rem;
}

nav button:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

button.btnActive {
  font-weight: bold;
  color: blue;
}

.tabs section {
  display: none;
}

.tabActive {
  display: block !important;
}

main {
  width: 70vw;
  background-color: white;
  border: 1px solid #888;
  margin-top: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

main section {
  margin: 32px 24px;
}

section h2 {
  font-size: 2rem;
  color: rgb(49, 49, 255);
}
section p {
  margin-top: 12px;
}
