main {
  background-color: white;
  width: 680px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid gray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.menu-list {
  margin-top: 32px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list > label {
  margin-right: 8px;
}

.menu-list > input {
  border: 1px solid #8c8c8c;
  border-radius: 2px;
}

input:focus {
  box-shadow: 0 0 4px cyan;
}

.list {
  /* width: 70%; */
  /* height: 100%; */
  /* margin-top: 24px; */
}

li {
  height: 42px;
  width: 360px;
  border: 1px solid #98a0e6;
  background-color: #bfd9f2;
  margin-top: 12px;
  padding: 0 12px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

button {
  background-color: inherit;
  border: none;
  color: red;
  font-size: 1.4rem;
}
