body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;

  font-family: "Helvetica neue", sans-serif;
}

header {
  background-color: #555555;

  padding: 20px 0 20px 0;
}

header h1 {
  text-align: center;
  color: #d9d9d9;
  font-size: 2rem;
  font-weight: bold;
}

main {
  background-color: #eeeeee;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);

  padding: 48px 32px 32px 32px;
  border: 1px solid #acadad;
  border-top: none;
}

section {
  padding-bottom: 28px;
}

section > .big-title {
  font-size: 2rem;
}

section > h2 {
  font-size: 1.5rem;
}

section > p {
  padding-top: 12px;
  font-size: 1rem;
}
