:root {
  --color-primary: #11cccc;
  --color-secondary: rgba(160, 255, 234, 1);
  --color-secondary-transparent: rgba(160, 255, 234, 0.6);
  --color-text-primary: #2f8b77;
  --color-text-secondary: #f5f5f5;
  --color-text-terciary: #fff37f;
}

body {
  background-image: url("assets/images/background-unsplash.jpg");
  background-size: cover;
}

header {
  background-color: var(--color-primary);
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
}

header img {
  width: 32px;
  filter: invert(91%) sepia(25%) saturate(857%) hue-rotate(343deg)
    brightness(107%) contrast(101%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

nav > .logo-title {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-text-secondary);
  margin: 0;
  margin-left: 12px;
}

.nav-link,
.clin-navlogin {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-weight: bold;
  font-size: 20px;
}

.clin-navlogin {
  display: flex;
  align-items: center;
}

.clin-navlogin a {
  margin-left: 8px;
  font-size: 20px;
}

.clin-navbar {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .container {
  background-color: var(--color-secondary-transparent);

  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.clin-home {
  color: var(--color-text-primary);
}

.clin-home article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 128px 0 0 32px;
}

.clin-home h2 {
  font-size: 48px;
  font-weight: bold;
}

.clin-home p {
  font-size: 28px;
}

.clin-agendar > button {
  background-color: var(--color-text-terciary);
  color: var(--color-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;

  height: 72px;
  width: 320px;
  border: solid 2px var(--color-primary);
  border-radius: 4px;
}

.clin-hide {
  display: none;
}
