:root {
  --color-primary: #11cccc;
  --color-secondary: rgba(160, 255, 234, 1);
  --color-secondary-transparent: rgba(160, 255, 234, 0.6);
  --color-text-primary: #2f8b77;
  --color-text-secondary: #f5f5f5;
  --color-text-terciary: #fff37f;
}

body {
  background-image: url("assets/images/background-unsplash.jpg");
  background-size: cover;
}

header {
  background-color: #11cccc;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
}

nav img {
  width: 32px;
  filter: invert(91%) sepia(25%) saturate(857%) hue-rotate(343deg)
    brightness(107%) contrast(101%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

nav .clinica-logo {
  display: flex;
  align-items: center;
}

.clinica-logo h1 {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-text-secondary);
  margin: 0;
  margin-left: 12px;
}

.clinica-navitem,
.clinica-login a {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-weight: bold;
  font-size: 20px;
  background-color: inherit;
  border: none;
  margin-right: 4px;
}

.clinica-navitem:hover {
  color: var(--color-text-secondary);
  border-bottom: solid 2px var(--color-text-terciary);
  text-decoration: none;
}

main .container {
  background-color: var(--color-secondary-transparent);

  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.tabs section {
  color: var(--color-text-primary);
  display: none;
}

.tab-active {
  display: block !important;
}

button.btn-active {
  border-bottom: solid 4px var(--color-text-terciary);
}

#home article {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
  margin: 256px 0 0 32px;
}

#home h2 {
  font-size: 48px;
  font-weight: bold;
}

#home p {
  font-size: 28px;
}
#home .clinica-preco {
  font-size: 16px;
}

#home .clinica-agendar > button {
  background-color: var(--color-text-terciary);
  color: var(--color-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;

  height: 72px;
  width: 320px;
  border: solid 2px var(--color-primary);
  border-radius: 8px;
}

#home .clinica-agendar > button:hover {
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;

  height: 72px;
  width: 320px;
  border: solid 2px var(--color-primary);
  border-radius: 8px;
}

#galeria {
  padding-top: 72px;
}

#galeria article {
  margin-top: 56px;
}
